@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
}

body {
  font-family: "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  background-color: 	#D3D3D3
}


.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

img {
  height: 300px;
  width: 400px;
  border: 1px solid black;
}

h1 {
  font-size: 70px;
  padding-top: 40px;
}

h2 {
  font-size: 50px;
  text-decoration: underline;
}
